* {
	margin: 0;
}

html {
  position: relative;
  height: 100%;
}

body 
{
    background-image: url("\Images/footer_lodyas.png");
    height: 100%;
}

.wrapper {
	min-height: 100%;
    
	margin: 0 auto -125px; /* the bottom margin is the negative value of the footer's height */
}

.footer, .push {
	height: 125px; /* .push must be the same height as .footer */
}

.footer
{
    background: #FFF;
    min-width: 1500px;
    color: #353535;
    font: 16.5px "Century Gothic", sans-serif;
    background-color: #f5f5f5;
    line-height: 1.5;
}

#author
{
    padding: 30px 0 0 900px;
}

#website
{
    padding: 0 0 0 820px;
}

.navbar 
{
    padding-top: 15px;
    padding-bottom: 15px;
    min-width: 1500px;
    font-size: 12px;
    font: 12px "Montserrat", sans-serif;
    letter-spacing: 3px;
}

.navbar-nav li a:hover 
{
    color: #a9a9a9 !important;
}

.desc 
{
    width: 600px;
    height: 380px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 3px;

    position:relative;

    left:60px;
    top:170px;
    color: #2f2f2f;
    font: 19px "Century Gothic", sans-serif;
    background-color: #f8f8f8;
    opacity: 1;
    line-height: 1.5;
}

.game 
{
    position:relative;
    left: 725px;
    top: -285px;

    width:500px;
    height:500px;
    background-color: #353535;
    border-style: outset;
    border-width: 3px;
}

.buttons 
{
    width: 150px;
    height: 250px;

    position:relative;
    left: 1280px;
    top: -600px;
}

.content
{
    height:600px;
}

#resetBtn
{
    position:relative;
    top:10px;
}

#newGameBtn
{
    position:relative;
    top:20px;
}

#resetBtn, #solveBtn, #newGameBtn
{
    width: 150px;
    height: 50px;
}

.numMoves
{
    position:relative;
    left: 1295px;
    top: -1020px;

    width:120px;
    height:120px;
    background-color:#FFF;
    padding: 15px 60px 60px 37px;
    color: #000;
    font: 70px "Century Gothic", sans-serif;
}

.solved
{
    position:relative;
    left: 1250px;
    top: -750px;

    color: #FFF;
    font: 60px "Montserrat", sans-serif;
}

.moves
{
    position:relative;
    width:900px;
    left: 750px;
    top: -640px;
    color: #FFF;
    font: 19px "Montserrat", sans-serif;
}

