#container
{
    width:960px;
}

.navbar 
{
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 12px;
    letter-spacing: 3px;
}

.navbar-nav li a:hover 
{
    color: #a9a9a9 !important;
}

#board
{
    border-style: outset;
    border-width: 3px;
    top: 15%;
    right: 40%;
    position: absolute;
}

#moves
{
    top: 55%;
    right: 46%;
    position: absolute;
}

.buttons
{
  width: 425px;
  height: 40px;
  padding: 10px;

  top: 40%;
  right: 15%;
  position: absolute;
}

.options
{
  width: 425px;
  height: 40px;
  padding: 10px;
  
  top: 30%;
  right: 15%;
  position: absolute;
}

#moves
{
    text-align: center;
}

#solve, #reset
{
    width: 5cm; height: 1cm;
}